*.a
*.so
*.o
*.swp
*~
*.pyc
__pycache__/
*.gcda
*.optrpt

callgrind.*
perf.*

*.directory
work
build 
dist
*.egg-info/
pycf.egg-info/
pycf/__pycache__/
doc/_build
pycf/cfl.c
pycf/__version__.py
pycf/_build_info.py
pycf/cfl*.so
pycf.egg-info/
cfl/*_test
.vscode/
tests/logs/


