*.a
*.so
*.o
*.swp
*~
*.pyc
__pycache__/
*.gcda
*.optrpt

callgrind.*
perf.*

*.directory
work
build
dist
*.egg-info/
pycf.egg-info/
pycf/__pycache__/
env/
venv/
docs/legacy/_build
docs/_build/
.coverage
pycf/cfl.c
pycf/__version__.py
pycf/cfl*.so
pycf.egg-info/
cfl/*_test
.vscode/
tests/logs/

# One-off example-script test reports
examples_test_results.txt
